.headerGlass {
  background: rgba(21, 23, 39, 0.5);
  height: auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.iconCircle {
  display: inline-grid;
  place-items: center;
  width: 36px;
  height: 36px;
  border-radius: 9999px;
}
.truncateTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 0.875;
}

.subTitle {
    line-height: 0.75;
}
