:root {
  --notif-critical-bg: rgba(255, 208, 90, 0.2);
  --notif-warning-bg: rgba(255, 90, 101, 0.2);
  --notif-success-bg: rgba(135, 196, 69, 0.2);
}

.containerScroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(148,163,184,0.12) transparent;
}

.containerScroll::-webkit-scrollbar {
  width: 8px;
}
.containerScroll::-webkit-scrollbar-track {
  background: transparent;
}
.containerScroll::-webkit-scrollbar-thumb {
  background-color: rgba(148,163,184,0.08);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.moreLink {
  font-size: 0.875rem;
  text-decoration: none;
}
